* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.top {
  display: flex;
  width: 1600px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  height: 75px;
}
.logo_search {
  display: flex;
  gap: 41px;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
}
.header__links {
  display: flex;
  gap: 33px;
}
.btn_low {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
.header_links_text_home {
  color: #f25822;
  text-decoration: none;
}
.upper_content {
  display: flex;
  background-color: #f1e4e6;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 64px;
  justify-content: center;
}
.upper_content_photo {
  width: 800px;
  height: 763px;
}

.content_miniblock {
  border-left: 12px solid #f16d7f;
  text-align: justify;
  padding-left: 16px;
}
.fashion_color {
  color: #f16d7f;
  text-transform: uppercase;
  font-size: 32px;
}
.top_content__description {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
}
.top_content__text {
  color: #222222;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.watch_video___link {
  display: flex;
  text-decoration: none;
}
.content__btns_text {
  color: #aaaaaa;
}
.btn_high {
  background-color: #f25822;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
}
.middle_content {
  margin-top: 65px;
}
.middle_content {
  display: grid;
  border: 0;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  justify-content: center;
}
.item {
  position: absolute;
}
.middle_content_item4 {
  grid-column: 1/4;
  grid-row: 2/3;
  justify-content: center;
  align-items: center;
}
.mcint_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #211616;
}
.img_oppacity {
  opacity: 30%;
  width: 100%;
}
.mcint_photo_text {
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.mcint_photo_text_red {
  color: #f16d7f;
  font-weight: 700;
  font-size: 24px;
}
.FI_block {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.FI_block_head {
  margin-bottom: 46px;
}
.FI_head_text {
  font-weight: 400;
  font-size: 30px;
  color: #222222;
  padding-top: 0;
  text-align: center;
}
.FI_head_text_description {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}
.item_block {
  max-height: 587px;
  max-width: 360px;
  background-color: #f8f8f8;
}
.second_item_img {
  display: flex;
  justify-content: center;
  background-color: #f7e4e2;
  min-height: 420px;
}
.FI_grid_content {
  display: flex;
  gap: 16px;
  row-gap: 25px;
  flex-wrap: wrap;
}
.item_block_img1 {
  opacity: 86%;
}
.item_block_photo {
  max-height: 420px;
}
.item_text_block {
  margin: 24px 16px 24px 16px;
}
.item_head_text {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.item_description_text {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  margin: 16px 0 16px 0;
  padding-right: 15px;
}
.price_text {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.FI_lower_btn {
  border: 1px solid #ff6a6a;
  height: 48px;
  width: 212px;
  background-color: inherit;
  margin: 48px 0 60px 0;
  font-size: 16px;
  font-weight: 400;
  color: #f26376;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* Стили для планшета  */
  .top {
    max-width: 100%;
    min-width: 768px;
  }
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    height: 74px;
  }
  .upper_content {
    gap: 39px;
  }
  .upper_content_photo {
    width: 386px;
    height: 368px;
  }
  .top_content {
    width: 368px;
  }
  .middle_content {
    max-width: 100%;
    min-width: 768px;
  }
  .top_content__description {
    font-size: 44px;
  }
  .top_content__text {
    font-size: 24px;
  }
  .middle_content {
    display: grid;
    border: 0;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 232px);
    grid-template-rows: 168px 116px;
    justify-content: center;
  }
}
